body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000; /* 黑色背景 */
    color: #ffffff; /* 白色文字 */
}

div{
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-size: 10px;
    box-sizing: border-box; /* 确保边框计算在元素尺寸内 */
}
